<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Hay que declarar un th:object en el formulario con el mismo nombre que
el tipo del modelo del formulario (UserData) cambiando la mayúscula de
la primera letra por minúscula (userData) -->
<form th:action="@{/saludoform}" th:object="${userData}" method="post">
    <table class="table-primary">
        <tr>
            <td>Nombre:</td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>
            <td><button type="submit">Enviar</button></td>
        </tr>
        <tr>

        </tr>
    </table>
</form>
</body>
</html>