<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.2.2/dist/js/bootstrap.min.js"></script>
    <title>Menú</title>
</head>
<body bgcolor="#f5f5dc" class="justify-content-center">
<h1 class="align-content-center">Gabriel Pelegri Riis</h1>
<div class="container-fluid justify-content-center text-center">
    <table class="table table-bordered border-2 justify-content-center">
        <tr>
            <th>OPCIONES</th>
        </tr>
        <tr>
            <td><a href="/saludoform" methods="post">Registro</a></td>
        </tr>
        <tr>
            <td><a href="/numeros" methods="post">Números</a></td>
        </tr>
        <tr>
            <td><a href="/palindroma" methods="post">Palíndroma</a></td>
        </tr>
    </table>

</div>
</body>
</html>